# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
venv/
ENV/
env/
*.db
*.log

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project-specific uploads
backend/uploads/
backend/db/
